/* styles.css */

body {
	font-family: 'Oswald', sans-serif;
	background-color: #212121;
	margin: 0;
  }
  
  section {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
  }
  
  .row {
	display: grid;
	grid-template-columns: repeat(6, 1fr); /* 6 columns */
	gap: 20px; /* space between cards */
  }
  
  .card {
	position: relative;
	width: 100%; /* Takes the full width of each grid column */
	padding-top: 100%; /* Sets height equal to width for a square shape */
	transition: 0.3s ease;
	perspective: 1200px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Initial subtle shadow */
  }
  
  .card:hover {
	box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.6); /* Red glow on hover */
  }
  
  .cover {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: 0.3s ease;
  }
  
  .cover:before,
  .cover:after {
	content: '';
	position: absolute;
	transition: 0.3s ease;
  }
  
  .cover:before {
	border: 5px solid rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	z-index: 2;
  }
  
  .cover:after {
	background: rgba(0, 0, 0, 0.4);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
  }
  
  .cover h1,
  .cover .price {
	position: absolute;
	color: white;
	z-index: 3;
  }
  
  .cover h1 {
	bottom: 15%;
	left: 10%;
	font-weight: 600;
	font-size: 1.5em;
  }
  
  .cover .price {
	top: 10%;
	right: 10%;
	font-weight: 200;
	font-size: 1.2em;
  }
  /* Background images for each item */
  .item-a { background-image: url("assets/character icons/1.jpeg"); }
  .item-b { background-image: url("assets/character icons/2.jpeg"); }
  .item-c { background-image: url("assets/character icons/3.jpeg"); }
  .item-d { background-image: url("assets/character icons/4.jpeg"); }
  .item-e { background-image: url("assets/character icons/5.jpeg"); }
  .item-f { background-image: url("assets/character icons/6.jpeg"); }
  .item-g { background-image: url("assets/character icons/7.jpeg"); }
  .item-h { background-image: url("assets/character icons/8.jpeg"); }
  .item-i { background-image: url("assets/character icons/9.jpeg"); }
  .item-j { background-image: url("assets/character icons/10.jpeg"); }
  .item-k{ background-image: url("assets/character icons/11.jpeg"); }
  .item-l{ background-image: url("assets/character icons/12.jpeg"); }
  .item-13{ background-image: url("assets/character icons/13.jpeg"); }
  .item-14{ background-image: url("assets/character icons/14.jpeg"); }
  .item-15{ background-image: url("assets/character icons/15.jpeg"); }
  .item-16{ background-image: url("assets/character icons/16.jpeg"); }
  .item-18{ background-image: url("assets/character icons/17.jpeg"); }
  .item-17{ background-image: url("assets/character icons/18.jpeg"); }
  .item-19{ background-image: url("assets/character icons/19.jpeg"); }
  .item-20{ background-image: url("assets/character icons/20.jpeg"); }
  .item-21{ background-image: url("assets/character icons/21.jpeg"); }
  .item-22{ background-image: url("assets/character icons/22.jpeg"); }
  .item-23{ background-image: url("assets/character icons/23.jpeg"); }
  .item-24{ background-image: url("assets/character icons/24.jpeg"); }
  .item-25{ background-image: url("assets/character icons/25.jpeg"); }